.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 300px;
  margin: 0 auto;
  background-color: aqua;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
}

.feedback-form button {
  margin-bottom: 8px;
}
